<h4 class="text-center">Sign In</h4>

<hr>
<br>

<div class="col-6 container justify-content-center">
  <form action="/user_verify_credentials" method="post">

    <div class="mb-3">
      <label for="email_box">Email</label>
      <input id="email_box" name="query_email" class="form-control" placeholder="Enter your email..." type="text">
    </div>

    <div class="mb-3">
      <label for="password_box">Password</label>
      <input id="password_box" name="query_password" class="form-control" placeholder="Enter your password..." type="password">
    </div>

    <br>

    <button class="btn btn-outline-success btn-block">
      Sign in
    </button>

  </form>
</div>

<br>
<hr>

<p class="text-center">
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>

<hr>